*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#grid-gallery {
  width: 100vw;
  height: 100vh;
  display: flex;
}

#grid-gallery div:nth-child(1) {
  margin-right: 10px;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "box1 box2 box3 box4 box5"
    "box6 box7 box8 box9 box10"
    "box11 box12 box13 box14 box15"
    "box16 box17 box18 box19 box20"
    "box21 box22 box23 box24 box25";
  gap: 15px;
}

#grid-gallery div:nth-child(2) {
  margin-left: 10px;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "large1 large2"
    "large3 large4";
  gap: 15px;
}

#box1 {
  grid-area: box1;
}

#box2 {
  grid-area: box2;
}

#box3 {
  grid-area: box3;
}

#box4 {
  grid-area: box4;
}

#box5 {
  grid-area: box5;
}

#box6 {
  grid-area: box6;
}

#box7 {
  grid-area: box7;
}

#box8 {
  grid-area: box8;
}

#box9 {
  grid-area: box9;
}

#box10 {
  grid-area: box10;
}

#box11 {
  grid-area: box11;
}

#box12 {
  grid-area: box12;
}

#box13 {
  grid-area: box13;
}

#box14 {
  grid-area: box14;
}

#box15 {
  grid-area: box15;
}

#box16 {
  grid-area: box16;
}

#box17 {
  grid-area: box17;
}

#box18 {
  grid-area: box18;
}

#box19 {
  grid-area: box19;
}

#box20 {
  grid-area: box20;
}

#box21 {
  grid-area: box21;
}

#box22 {
  grid-area: box22;
}

#box23 {
  grid-area: box23;
}

#box24 {
  grid-area: box24;
}

#box25 {
  grid-area: box25;
}
