*,*::before,*::after{
padding: 0;
margin: 0;
box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

.maxwidth {
  max-width: 1200px;
  margin: 0 auto;
} 
 
a {
  text-decoration: none; 
} 
 
ul {
  list-style-type: none; 
} 
 
img {
  height:100%; 
  width:100%; 
  object-fit:cover; 
}

/* Navigation start */
 
nav {
    background-color: #fff;
}

nav div {
    background-color: #606B63;
    box-shadow: 0px 1px 0px rgb(96 107 99);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
}

nav div img {
    max-width: 300px;
    padding-left: 10px;
    object-fit: contain;
}

nav div ul {
    display: flex;
}

nav div ul li {
    padding: 0px 5px 0px 5px;
}

nav div ul li:nth-child(3) {
    padding-right: 10px;
}

nav div ul li a {
    font-size: 1.8rem;
    color: black;
    border: 10px solid white;
    background-color: white;
    border-radius: 10px;
}

label {
    display: none;
}

label i {
    font-size: 2.5rem;
}

#toggle {
    font-size: 2rem;
    margin: 0px 10px 0px 10px;
}

#nav-links {
    display: none;
}

.fa-bars {
    color: white;
    cursor: pointer;
}

.fa-xmark {
    display: none;
    color: white;
    cursor: pointer;
    margin-right: 3px;
}

.active #nav-links,
.active .fa-xmark {
    display: block;
}

.active .fa-bars {
    display: none;
}
 
.active #nav-links {
    border-top: 20px solid #606B63;
    background-color: #606B63;
    width: 100px;
    position: absolute;
    top: 75px;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    z-index: 999;
    line-height: 40px;
}

#nav-links li a {
    color: white;
    border: inherit;
    background-color: inherit;
    border-radius: inherit;
}

#nav-links {
    display: none;
}

/* Navigation end */ 
 
/* Header start */
 
header {
    background-color: #fff;
}

header div {
    height: 350px;
}

header div h1 {
    font-size: 5rem;
    display: block;
    position: relative;
    bottom: 210px;
    text-align: end;
    color: white;
    width: 92%;
}
 
/* Header end */  

/* main start */

main {
    background-color: #fff;
}

main div {
    background-color: #9BA29D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 5px;
}

main div section {
    width: 100%;
    text-align: center;
} 

main div section:nth-child(1) {
    padding: 15px 0px 15px 0px;
}

main div section:nth-child(2) {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0px 10px 0px;
}

main div section h2 {
    color: white;
    font-size: 4rem;
    background-color: #0d1e1169;
    border: 5px solid #606B63;
}

main div section article img {
    max-width: 350px;
    max-height: 350px;
    box-shadow: 0px 0px 8px #606e00;
}

/* main end */
 
/* galleri start */



/* galleri  end */

/* aarstal start */

.grid-aarstal {
    margin: 20px 0px;
    padding: 0px 10px 0px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    width: 100%;
    min-height: 600px;
    gap: 10px;
}

.aarstal {
    padding: 0px !important;
    max-width: 250px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-radius: 5px;
    font-size: 2rem;
} 

.tal2010 {
    
}

.tal2011 {
    
}

.tal2012 {
    
}

.tal2013 {
    
}

.tal2014 {
    
}

.tal2015 {
    
}

.tal2016 {
    
}

.tal2017 {
    
}

.tal2018 {
    
}

.tal2019 {
    
}

.tal2020 {
    
}

.tal2021 {
    
}

.tal2022 {
    
}

.aarstal h3 {
    color: white;
}

.aarstal h3 a {
    padding: 55px 100px;
    color: white;
}

/* aarstal end */

/* footer start */
 
footer {
    background-color: #fff;
}

footer div {
    background-color: #0d1e1169;
    padding-top: 10px;
}

footer div ul {
    height: 192px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer div section {
    background-color: #0d1e1169;
    width: 100%;
    height: -webkit-fill-available;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 70px;
}

footer div section div {
    background-color: #606B63;
    display: flex;
    flex-direction: column;
    max-width: 355px;
    padding: 0px 10px;
}

footer div section div ul li p {
    color: white;
    font-size: 2rem;
}

footer div section div ul li a {
    color: white;
    font-size: 2rem;
}

.fa-instagram {
    position: relative;
    left: 1px;
}

.footer-logo {
    background-color: #606B63;
    margin-top: -1px;
    padding: 0px 10px 0px 10px;
}
 
.footer-logo img {
    margin: 15px 0px 10px 0px;
    max-width: 350px;
    object-fit: contain;
    max-height: 100px;
}

/* footer end */ 
 
/* media start */
 
@media screen and (max-width: 1100px) {
    header div h1 {
        width: 93%;
    }
    main div section:nth-child(2) {
        padding: 10px 10px 10px 10px;
        gap: 15px;
    }
    .grid-aarstal {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 767px) {
    .active #burger-menu {
        display: none !important;
    }
}

@media screen and (max-width: 767px) {
    nav div ul {
        display: none;
    }
    nav div ul li:nth-child(3) {
        padding-right: 5px;
        padding-bottom: 10px;
    }
    label {
        display: block;
    }
    .active #nav-links {
        width: 100%;
        align-items: center;
        gap: 10px;
    }
    #nav-links li {
        width: 100%;
        text-align: center;
        border: 1px solid;
    }
    #nav-links li a {
        display: block;
    }
    header div h1 {
        text-align: center;
        width: 100%;
    }
    main div section:nth-child(2) {
        flex-direction: column;
    }
    footer div section {
        flex-direction: column;
        gap: 20px;
    }
    .fa-facebook {
        font-size: 3.5rem;
    }
    .fa-instagram {
        font-size: 4rem;
        bottom: 5px;
    }
    footer div section div:nth-child(2) {
        padding-bottom: 10px;
    }
    .footer-logo img {
        margin: 50px 0px 10px 0px;
    }
    .grid-aarstal {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 480px) {
    footer div section div:nth-child(1) {
        padding-top: 10px;
    }
    footer div section div:nth-child(3) {
        height: 170px;
    }
    footer div section div {
        height: 225px;
    }
    footer div section div ul li p {
        font-size: 1.7rem;
    }
    footer div section div ul li a {
        font-size: 1.8rem;
    }
    footer div section {
        gap: 20px;
    }
    .footer-logo img {
        margin: 75px 0px 10px 0px;
    }
    .grid-aarstal {
        grid-template-columns: 1fr;
        min-height: 500px;
        gap: 30px;
    }
    .aarstal {
        min-height: 100px;
    }
}
 
/* media end */