*,*::before,*::after{
padding: 0;
margin: 0;
box-sizing: border-box;
}
html {
font-size: 62.5%;
}

.maxwidth { 
  max-width: 1400px;
  margin: 0 auto;
} 

a {
 text-decoration: none; 
} 
  
ul {
 list-style-type: none; 
 margin-bottom: 50px;
} 
 
img {
 height:100%; 
 width:100%; 
 object-fit:cover; 
}

/* Navigation start */
 
nav {
  background-color: #a9a9a9a3;
}

nav div {
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  margin: 0 auto;
  padding: 0px 15px 0px 15px;
}

nav div a {
  font-size: 3.6rem;
  color: #000;
}

nav div ul {
  margin: 0;
  display: flex;
}

nav div ul li {
  margin: 0px 5px 0px 5px;
  background-color: #d4d4d4;
}

nav div ul li a {
  padding: 5px 10px 5px 10px;
  font-size: 2rem;
  color: #000;
  border: 1px solid;
  border-radius: 10px;
}

nav div ul li a:hover {
  background-color: grey;
  color: white;
}
 
/* Navigation end */ 
 
/* Header start */
 
#faq-fomular {
  padding: 50px 20px 50px 20px;
}

#faq-fomular div {
  margin: 20px auto;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#faq-fomular div header{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
  border-bottom: 2px solid #CFCFCF;
}

#faq-fomular div header h4 {
  margin: 0px 10px 0px 10px;
  font-size: 2rem;
}

#faq-fomular div header button {
  margin-right: 10px;
  padding: 10px 30px 10px 30px;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
}

#faq-fomular div header button:hover {
  background-color: darkgray;
}

#faq-fomular div article{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

#faq-fomular div article h5 {
  padding: 0px 15px 0px 15px;
}

#faq-fomular div article p {
  width: 100%;
  margin-bottom: 20px;
  padding: 0px 15px 0px 15px;
}

#faq-fomular div article {
  display: none;
}

.active {
  background-color: #435061;
  border-radius: 10px;
}

#faq-fomular .active header {
  border-left: 4px solid #435061;
  border-right: 4px solid #435061;
  background-color: #435061;
  border-bottom: 2px solid #E7BE7E;
}

.active h4 {
  color: #E7BE7E;
  border: 2px solid;
  border-radius: 10px;
  padding: 5px;
  background-color: grey;
}

#faq-fomular .active button {
  background-color: #E7BE7E;
  border: 1px solid white;
}

.active h5 {
  color: white;
}

.active article p {
  color: white;
}

#faq-fomular .active article{
  width: 100%;
  display: block;
}

header {
  background-color: #fff;
}

header div {
  background-color: #fff;
}

header div h1 {
  font-size: 5rem;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

header div ul {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;  
}

header div ul:nth-child(2) {
 justify-content: inherit;
}

header div ul li {
  margin: 15px;
}

header div ul li p {
  text-align: center;
  font-size: 3.2rem;
}

header div ul li a {
  font-size: 2rem;
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;
  background-color: rgb(76 118 144);
  color: white;
}
 
/* Header end */  

/* footer start */
 
footer {
  background-color: #a9a9a9a3;
}

footer div {
  padding: 20px 15px 20px 15px;
}
 
footer div p {
  color: black;
  font-size: 1.8rem;
}

/* footer end *

/* media start */
 
@media screen and (max-width: 768px) {
  .flex-wrapper {
    flex-wrap: wrap;
    flex-direction: column;
  }
  header div ul {
    width: 100%;
  }
} 
 
@media screen and (max-width: 480px) {
  nav div a {
    font-size: 3.2rem;
  }
  nav div ul li a {
    font-size: 1.8rem;
  }
  header div ul li {
    margin: 15px 10px 15px 10px;
  }
  header div ul li a {
    font-size: 1.6rem;
  }
  #faq-fomular div header h4 {
    font-size: 1.6rem;
  }
  #faq-fomular .active article {
    width: 100%;
  }
  #faq-fomular div header button {
    max-width: 100px;
  }
  footer div p {
    font-size: 1.6rem;
  }
}
 
/* media end */

