* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    background-color: white;
  }
  
  /* header start */
  
  #header1 {
    background-color: white;
    background-image: url("../img/banner.jpg");
    background-repeat: round;
    max-height: 600px;
    min-height: 502px;
    display: flex;
  }

  #header1 div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  #header1 div h1 {
    padding: 30px 0px 10px 10px;
    background-color: rgba(255, 255, 255, 0.3);;
    color: #A4292A;
    font-weight: bold;
    max-width: 750px;
  }
  
  #header1 div h3 {
    padding: 10px 0px 20px 10px;
    background-color: rgba(255, 255, 255, 0.3);
    color: #A4292A;
    font-weight: bold;
    max-width: 750px;
  }

  /* header end */
  
  /* section start */
  
  #section1 {
    display: flex;
  }
  
  #section1 aside {
    background-color: #cccccc;
    min-width: 225px;
  }
  #section1 aside div{
    min-width: 200px;
    max-width: 250px;
    margin: auto;
  }
  #section1 aside img {
    width: 100%;
    margin-top: 15px;
  }

  #section1 aside ul {
    background-color: #808080;
    max-width: 340px;
    text-align: left;
    list-style-type: none;
  }
  
  #section1 aside ul li {
    padding: 10px;
  }

  #first-link1 {
    background-color: #A42A27;
  }

  #first-link2 {
    color: white !important;
  }

  #section1 aside ul li a {
    padding: 2px;
    text-decoration: none;
    color: #A42A27;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  #section1 main {
    background-color: #f1f1f1;
    padding: 40px 0px 0px 10px;
  }
  
  #section1 main h1 {
    font-weight: bold;
    font-size: 2rem;
  }

  #section1 main h1::first-letter{
    text-transform: uppercase;
  }

  main p{
      padding: 10px 0px 10px 0px;
      font-weight: normal;
  }
  
  #section2 {
    display: flex;
  }
  
  #section2 div p {
    padding-top: 5px;
  }

  #first-h2{
    font-size: 1.5rem;
  }

  h2 {
    text-transform: uppercase;
    font-weight: bold;
  }

  .div1 {
    width: 50%;
  }
  
  #ol1 {
    padding: 10px 0px 10px 30px;
  }
  
  #ol1 ul {
    position: relative;
    left: 40px;
  }
  
  #ol1 ul ul {
    position: relative;
    left: 30px;
  }
  
  .div2 {
    padding: 40px 0px 30px 0px;
    width: 50%;
  }
  
  .div2 img {
    width: 200px;
  }
  
  #table1 {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: start;
    border-collapse: collapse;
  }
  
  #table1 thead tr th {
    border: 2px solid #DDDDDD;
    padding: 5px;
    text-align: start;
    background-color: #a52a2a;
    color: white;
  }
  
  #table1 tbody tr td {
    padding: 5px;
    border: 2px solid #DDDDDD;
  }
  
  /* section end */
  
  /* footer start */
  
  #footer1 {
    background-color: #a52a2a;
    padding: 20px;
  }
  
  #footer1 p {
    text-align: center;
    color: white;
  }
  
  /* footer end */